<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot.web.mapper.sys.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot.web.domain.sys.SysDict">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
    <result column="label" jdbcType="VARCHAR" property="label"/>
    <result column="value" jdbcType="INTEGER" property="value"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="seq" jdbcType="INTEGER" property="seq"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, type_name, `label`, `value`, remark, seq
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.akm.springboot.web.domain.sys.SysDict"
          useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      `type`,
      type_name,
      `label`,
      `value`,
      remark,
      seq,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{type,jdbcType=VARCHAR},
      #{typeName,jdbcType=VARCHAR},
      #{label,jdbcType=VARCHAR},
      #{value,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR},
      #{seq,jdbcType=INTEGER},
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      `type` = #{type,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      `label` = #{label,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
          parameterType="com.akm.springboot.web.domain.sys.SysDict" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="seq != null">
        seq,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--auto generated by MybatisCodeHelper on 2019-08-15-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_dict
    where 1=1
    <if test="id != null">
      and id=#{id,jdbcType=INTEGER}
    </if>
    <if test="type != null and type != ''">
      and `type` like CONCAT('%', #{type,jdbcType=VARCHAR}, '%')
    </if>
    <if test="typeName != null and typeName != ''">
      and type_name like CONCAT('%', #{typeName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="label != null and label != ''">
      and `label`=#{label,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
      and `value`=#{value,jdbcType=INTEGER}
    </if>
    <if test="remark != null and remark != ''">
      and remark like CONCAT('%', #{remark,jdbcType=VARCHAR}, '%')
    </if>
    <if test="seq != null">
      and seq=#{seq,jdbcType=INTEGER}
    </if>
    order by create_time desc, seq desc
  </select>

  <select id="findByType" resultType="map">
    select `label`, `value`
    from sys_dict
    where `type`=#{type,jdbcType=VARCHAR}
    order by seq desc
  </select>
</mapper>