<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot.web.mapper.sys.SysResourceMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot.web.domain.sys.SysResource">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    <result column="type" jdbcType="TINYINT" property="type"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="uri" jdbcType="VARCHAR" property="uri"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="icon" jdbcType="VARCHAR" property="icon"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="seq" jdbcType="INTEGER" property="seq"/>
    <result column="client_type" jdbcType="TINYINT" property="clientType"/>
    <result column="enable" jdbcType="BOOLEAN" property="enable"/>
    <collection property="apiIdList" ofType="java.lang.String">
      <constructor>
        <arg column="apiId"/>
      </constructor>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `type`, `name`, uri, code, icon, remark, seq, client_type, `enable`
  </sql>
  <insert id="insertOrUpdate" parameterType="com.akm.springboot.web.domain.sys.SysResource">
    <!--@mbg.generated-->
    insert into sys_resource
    (id, parent_id, `type`, `name`, uri, code, icon, remark, seq, client_type, `enable`
    )
    values
    (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
    #{name,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
    #{remark,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{clientType,jdbcType=TINYINT},
    #{enable,jdbcType=BOOLEAN})
    on duplicate key update
    id = #{id,jdbcType=VARCHAR},
    parent_id = #{parentId,jdbcType=VARCHAR},
    `type` = #{type,jdbcType=TINYINT},
    `name` = #{name,jdbcType=VARCHAR},
    uri = #{uri,jdbcType=VARCHAR},
    code = #{code,jdbcType=VARCHAR},
    icon = #{icon,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    seq = #{seq,jdbcType=INTEGER},
    client_type = #{clientType,jdbcType=TINYINT},
    `enable` = #{enable,jdbcType=BOOLEAN}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.akm.springboot.web.domain.sys.SysResource">
    <!--@mbg.generated-->
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="uri != null">
        uri,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="clientType != null">
        client_type,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="clientType != null">
        #{clientType,jdbcType=TINYINT},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BOOLEAN},
      </if>
    </trim>
    on duplicate key update
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="clientType != null">
        client_type = #{clientType,jdbcType=TINYINT},
      </if>
      <if test="enable != null">
        `enable` = #{enable,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>

  <select id="findByAll" resultMap="BaseResultMap">
    select
    resource.id,
    resource.parent_id,
    resource.`type`,
    resource.`name`,
    resource.uri,
    resource.code,
    resource.icon,
    resource.remark,
    resource.seq,
    resource.client_type,
    resource.`enable`,
    x.api_id apiId
    from sys_resource resource
    left join sys_resource_api x
    on resource.id = x.resource_id
    where del = false
    <if test="clientType != null">
      and resource.client_type=#{clientType,jdbcType=TINYINT}
    </if>
    <if test="enable != null">
      and resource.`enable`=#{enable,jdbcType=BOOLEAN}
    </if>
    order by seq desc
  </select>

  <update id="batchDel">
    update sys_resource
    set del=true
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>

  <select id="findResource" resultType="java.util.Map">
    select
    id,
    parent_id parentId,
    `type`,
    `name`,
    uri,
    code,
    icon
    from sys_resource resource
    where del = false and enable = true
    <if test="clientType != null">
      and client_type=#{clientType,jdbcType=TINYINT}
    </if>
    <if test="type != null">
      and type=#{type,jdbcType=TINYINT}
    </if>
    order by parent_id, seq desc
  </select>

</mapper>